.input {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EEEEEE;

    &__wrapper {
        position: relative;
    }

    &__input {
        padding: 32px 45px 32px 16px;
        width: 793px;
        height: 96px;
        background: #FFFFFF;
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        border: none;
    }

    &__btn {
        cursor: pointer;
        width: 96px;
        height: 96px;
        background: #F8D231;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }

    &__form {
        position: relative;
        display: flex;
    }

    &__error {
        position: absolute;
        right: 114px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__title {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -1px;
        color: #1B191C;
    }

    &__warning {
        position: absolute;
        bottom: -22px;
        left: 0;
        margin-top: 8px;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.3px;
        color: #C6A827;
    }

    &__border {
        border: 0.5px solid #C6A827;
    }
}

@media (max-width: 992px) {
    .input {
        &__input {
            padding: 20px 45px 20px 16px;
            height: 80px;
            width: 450px;
        }

        &__btn {
            width: 80px;
            height: 80px;
        }

        &__title {
            margin-bottom: 12px;
            font-size: 40px;
        }

        &__error {
            right: 100px;
        }
    }
}

@media (max-width: 576px) {
    .input {
        &__input {
            padding: 10px 35px 10px 12px;
            height: 60px;
            width: 250px;
        }

        &__btn {
            width: 60px;
            height: 60px;
        }

        &__title {
            font-size: 35px;
            margin-bottom: 8px;
        }

        &__error {
            right: 70px;
        }
    }
}