.header {
    position: relative;

    &__mobile {
        display: none;
    }

    &__wrapper {
        background-color: #EEEEEE;
        height: 100%;
        padding: 40px;
    }

    &__content {
        min-height: 410px;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: 492px auto;
        grid-template-rows: 156px auto auto ;
    }

    &__title {
        font-weight: 400;
        font-size: 48px;
        line-height: 52px;
        letter-spacing: -1px;
        color: #000000;
    }

    &__descr {
        margin-top: 24px;
        font-weight: 300;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.4px;
        color: #1B191C;
    }

    &__subtext {
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.3px;
        color: #1B191C;
        align-self: end;

        span {
            font-weight: 400;
        }
    }

    &__player {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 4;
    }
}